In [45]:
import pandas as pd
import numpy as np

In [46]:
#  قراءة الملفات النظيفة

real_estate_month = pd.read_csv(
    "C:/Users/tf/Desktop/مشروع 1/Data after cleaning/real_estate_month.csv"
)

tourism_clean = pd.read_csv(
    "C:/Users/tf/Desktop/مشروع 1/Data after cleaning/tourism_cleaned.csv"
)

In [47]:

#  فحص سريع قبل الدمج

print("Real Estate shape:", real_estate_month.shape)
print("Tourism shape:", tourism_clean.shape)

print("Real Estate columns:")
print(real_estate_month.columns)

print("Tourism columns:")
print(tourism_clean.columns)

Real Estate shape: (22716, 7)
Tourism shape: (12423, 9)
Real Estate columns:
Index(['year_month', 'area_name_en', 'property_type_en', 'avg_meter_price',
       'avg_actual_worth', 'avg_area', 'transactions_count'],
      dtype='object')
Tourism columns:
Index(['year_month', 'area_name_en', 'hotels', 'rooms', 'POIs',
       'occupancy_rate', 'tourism_intensity', 'occupancy_rate_adjusted',
       'tourism_activity'],
      dtype='object')

In [48]:
# توحيد مفاتيح الدمج 

# year_month → YYYY-MM في الملفين
real_estate_month['year_month'] = (
    pd.to_datetime(real_estate_month['year_month'])
    .dt.to_period('M')
    .astype(str)
)

tourism_clean['year_month'] = (
    pd.to_datetime(tourism_clean['year_month'])
    .dt.to_period('M')
    .astype(str)
)

# توحيد أسماء المناطق
real_estate_month['area_name_en'] = (
    real_estate_month['area_name_en']
    .astype(str).str.strip().str.lower()
)

tourism_clean['area_name_en'] = (
    tourism_clean['area_name_en']
    .astype(str).str.strip().str.lower()
)

In [49]:

#  الدمج (شهري + منطقة)

merged_df = pd.merge(
    real_estate_month,
    tourism_clean,
    on=['year_month', 'area_name_en'],
    how='left'
)

In [50]:

#  فحص بعد الدمج

print("Merged shape:", merged_df.shape)
print(merged_df.head())
print(merged_df.info())

print("نسبة القيم الفارغة القادمة من السياحة (%):")
print(
    merged_df[['hotels', 'rooms', 'POIs', 'occupancy_rate']]
    .isna()
    .mean() * 100
)

Merged shape: (22716, 14)
  year_month     area_name_en property_type_en  avg_meter_price  \
0    2015-01         abu hail         Building          8987.42
1    2015-01         abu hail             Land          6772.56
2    2015-01         abu hail            Villa          6404.26
3    2015-01   al aweer first         Building           538.20
4    2015-01  al aweer second         Building           269.10

   avg_actual_worth  avg_area  transactions_count  hotels  rooms  POIs  \
0         1500000.0    166.90                   1      48   3770   138
1         3850000.0    568.47                   1      48   3770   138
2         1800000.0    428.12                   4      48   3770   138
3         6000000.0  11148.36                   1      44   2174   132
4          500000.0   1858.04                   1      68   5588    82

   occupancy_rate  tourism_intensity  occupancy_rate_adjusted  \
0           0.585           0.881162                 0.557192
1           0.585           0.881162                 0.557192
2           0.585           0.881162                 0.557192
3           0.688           0.791437                 0.630603
4           0.685           0.916924                 0.662237

   tourism_activity
0         28.764880
1         28.764880
2         28.764880
3         33.694532
4         47.658795
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22716 entries, 0 to 22715
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year_month               22716 non-null  object
 1   area_name_en             22716 non-null  object
 2   property_type_en         22716 non-null  object
 3   avg_meter_price          22716 non-null  float64
 4   avg_actual_worth         22716 non-null  float64
 5   avg_area                 22716 non-null  float64
 6   transactions_count       22716 non-null  int64
 7   hotels                   22716 non-null  int64
 8   rooms                    22716 non-null  int64
 9   POIs                     22716 non-null  int64
 10  occupancy_rate           22716 non-null  float64
 11  tourism_intensity        22716 non-null  float64
 12  occupancy_rate_adjusted  22716 non-null  float64
 13  tourism_activity         22716 non-null  float64
dtypes: float64(7), int64(4), object(3)
memory usage: 2.4+ MB
None
نسبة القيم الفارغة القادمة من السياحة (%):
hotels            0.0
rooms             0.0
POIs              0.0
occupancy_rate    0.0
dtype: float64

In [51]:

# 5) حفظ الملف النهائي

merged_df.to_csv(
    "C:/Users/tf/Desktop/مشروع 1/Data after cleaning/real_estate_tourism_merged.csv",
    index=False
)

print("✔ تم إنشاء ملف الدمج النهائي بنجاح")

✔ تم إنشاء ملف الدمج النهائي بنجاح

In [52]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22716 entries, 0 to 22715
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year_month               22716 non-null  object
 1   area_name_en             22716 non-null  object
 2   property_type_en         22716 non-null  object
 3   avg_meter_price          22716 non-null  float64
 4   avg_actual_worth         22716 non-null  float64
 5   avg_area                 22716 non-null  float64
 6   transactions_count       22716 non-null  int64
 7   hotels                   22716 non-null  int64
 8   rooms                    22716 non-null  int64
 9   POIs                     22716 non-null  int64
 10  occupancy_rate           22716 non-null  float64
 11  tourism_intensity        22716 non-null  float64
 12  occupancy_rate_adjusted  22716 non-null  float64
 13  tourism_activity         22716 non-null  float64
dtypes: float64(7), int64(4), object(3)
memory usage: 2.4+ MB

In [53]:
merged_df.head(1111)

,year_month,area_name_en,property_type_en,avg_meter_price,avg_actual_worth,avg_area,transactions_count,hotels,rooms,POIs,occupancy_rate,tourism_intensity,occupancy_rate_adjusted,tourism_activity
0,2015-01,abu hail,Building,8987.420000,1.500000e+06,166.900000,1,48,3770,138,0.585,0.881162,0.557192,28.764880
1,2015-01,abu hail,Land,6772.560000,3.850000e+06,568.470000,1,48,3770,138,0.585,0.881162,0.557192,28.764880
2,2015-01,abu hail,Villa,6404.260000,1.800000e+06,428.120000,4,48,3770,138,0.585,0.881162,0.557192,28.764880
3,2015-01,al aweer first,Building,538.200000,6.000000e+06,11148.360000,1,44,2174,132,0.688,0.791437,0.630603,33.694532
4,2015-01,al aweer second,Building,269.100000,5.000000e+05,1858.040000,1,68,5588,82,0.685,0.916924,0.662237,47.658795
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1106,2015-06,al barshaa south third,Building,3160.567500,2.377247e+07,6470.317500,4,134,10444,136,0.578,0.915614,0.558490,65.437984
1107,2015-06,al barshaa south third,Land,2372.541667,1.793896e+07,7557.691667,6,134,10444,136,0.578,0.915614,0.558490,65.437984
1108,2015-06,al barshaa south third,Unit,10131.612000,6.066226e+05,61.338333,30,134,10444,136,0.578,0.915614,0.558490,65.437984
1109,2015-06,al dhagaya,Building,75007.570000,1.750000e+07,240.340000,2,69,5308,98,0.587,0.908307,0.565471,40.890962
1110,2015-06,al garhoud,Building,19878.530000,4.308847e+07,2351.993333,3,65,2816,104,0.562,0.895069,0.538411,35.313629

In [54]:
merged_df.isna().sum()

year_month                 0
area_name_en               0
property_type_en           0
avg_meter_price            0
avg_actual_worth           0
avg_area                   0
transactions_count         0
hotels                     0
rooms                      0
POIs                       0
occupancy_rate             0
tourism_intensity          0
occupancy_rate_adjusted    0
tourism_activity           0
dtype: int64

In [55]:
merged_df.isna().any().any()

np.False_