In [1]:
import pandas as pd
import numpy as nm

In [2]:
#   قراءة ملفات البيانات التي قمت بتحميلها من موقع دبي بلس
df_tour = pd.read_csv("C:/Users/tf/Desktop/مشروع 1/tourism_with_trend_index.csv")

In [3]:
df_tour.head()

,year_month,area_name_en,hotels,rooms,POIs,occupancy_rate,tourism_intensity_index,occupancy_rate_adjusted,tourism_intensity_index_trend
0,2015-01-01,abu hail,48,3770,138,0.585,0.881162,0.557192,28.764880
1,2015-01-01,al murqabat,78,5329,129,0.719,0.872387,0.682299,59.504043
2,2015-01-01,wadi al safa 7,87,7089,90,0.687,0.866216,0.650236,56.824833
3,2015-01-01,burj khalifa,84,3566,88,0.677,0.828709,0.630614,46.820882
4,2015-01-01,naif,44,2903,89,0.674,0.786133,0.616342,31.781338

In [4]:
df_tour = df_tour.rename(columns={
    'tourism_intensity_index': 'tourism_intensity',
    'tourism_intensity_index_trend': 'tourism_activity'
})

In [5]:
print(df_tour.info())
print(df_tour.head(22))

df_tour['year_month'] = df_tour['year_month'].astype(str).str.strip()
df_tour['area_name_en'] = df_tour['area_name_en'].astype(str).str.strip().str.lower()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12423 entries, 0 to 12422
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   year_month               12423 non-null  object
 1   area_name_en             12423 non-null  object
 2   hotels                   12423 non-null  int64
 3   rooms                    12423 non-null  int64
 4   POIs                     12423 non-null  int64
 5   occupancy_rate           12423 non-null  float64
 6   tourism_intensity        12423 non-null  float64
 7   occupancy_rate_adjusted  12423 non-null  float64
 8   tourism_activity         12423 non-null  float64
dtypes: float64(4), int64(3), object(2)
memory usage: 873.6+ KB
None
    year_month                 area_name_en  hotels  rooms  POIs  \
0   2015-01-01                     abu hail      48   3770   138
1   2015-01-01                  al murqabat      78   5329   129
2   2015-01-01               wadi al safa 7      87   7089    90
3   2015-01-01                 burj khalifa      84   3566    88
4   2015-01-01                         naif      44   2903    89
5   2015-01-01                 nad al shiba     105   8887   161
6   2015-01-01  jabal ali industrial second      77   4491   175
7   2015-01-01               me'aisem first      56   2935   164
8   2015-01-01                   port saeed      74   4698   152
9   2015-01-01                   al jafliya      54   4633   151
10  2015-01-01                    al waheda     120  10243   117
11  2015-01-01               wadi al safa 2      45   3444   168
12  2015-01-01             al thanyah third     113   6845   162
13  2015-01-01                hessyan first      88   5322   156
14  2015-01-01              al aweer second      68   5588    82
15  2015-01-01                   al kheeran     134   8035   108
16  2015-01-01                saih shuaib 4     114   9435   158
17  2015-01-01   jabal ali industrial first     105   7546    88
18  2015-01-01   jabal ali industrial third      92   5241    84
19  2015-01-01           al khawaneej first     100   5650   163
20  2015-01-01                     al satwa     122   7196   110
21  2015-01-01                 al rashidiya      63   4990   178

    occupancy_rate  tourism_intensity  occupancy_rate_adjusted  \
0            0.585           0.881162                 0.557192
1            0.719           0.872387                 0.682299
2            0.687           0.866216                 0.650236
3            0.677           0.828709                 0.630614
4            0.674           0.786133                 0.616342
5            0.629           0.914623                 0.607519
6            0.582           0.857307                 0.548781
7            0.667           0.814111                 0.617405
8            0.593           0.863776                 0.560688
9            0.641           0.900332                 0.615445
10           0.608           0.922838                 0.589234
11           0.691           0.824144                 0.642393
12           0.667           0.872619                 0.633015
13           0.625           0.903168                 0.600792
14           0.685           0.916924                 0.662237
15           0.627           0.884418                 0.598012
16           0.681           0.893744                 0.652056
17           0.652           0.893532                 0.624233
18           0.605           0.955387                 0.594204
19           0.686           0.850553                 0.644992
20           0.661           0.876350                 0.628307
21           0.670           0.858189                 0.631995

    tourism_activity
0          28.764880
1          59.504043
2          56.824833
3          46.820882
4          31.781338
5          60.677431
6          40.559283
7          40.846889
8          40.667512
9          40.750111
10         58.356323
11         41.101029
12         65.518135
13         50.273025
14         47.658795
15         60.230923
16         71.754536
17         56.126833
18         42.305470
19         63.456870
20         62.659306
21         50.132419

In [6]:
# فحص القيم المفقودة
missing = pd.DataFrame({
    'missing_count': df_tour.isna().sum(),
    'missing_percent': df_tour.isna().sum() / len(df_tour) * 100
})

print("=== Missing Report | Tourism ===")
print(missing)

=== Missing Report | Tourism ===
                         missing_count  missing_percent
year_month                           0              0.0
area_name_en                         0              0.0
hotels                               0              0.0
rooms                                0              0.0
POIs                                 0              0.0
occupancy_rate                       0              0.0
tourism_intensity                    0              0.0
occupancy_rate_adjusted              0              0.0
tourism_activity                     0              0.0

In [7]:
#  فحص القيم الرقمية
num_cols = ['hotels', 'rooms', 'POIs', 'occupancy_rate']

print("=== Descriptive Statistics | Tourism ===")
print(df_tour[num_cols].describe())

=== Descriptive Statistics | Tourism ===
             hotels         rooms          POIs  occupancy_rate
count  12423.000000  12423.000000  12423.000000    12423.000000
mean     105.361265   7494.564759    138.934315        0.571165
std       31.072871   3011.620406     37.363773        0.121934
min       41.000000   1949.000000     60.000000        0.300000
25%       79.000000   5171.500000    107.000000        0.488000
50%      106.000000   7038.000000    139.000000        0.610000
75%      129.000000   9488.500000    172.000000        0.661000
max      179.000000  16874.000000    214.000000        0.843000

In [8]:
#  تنظيف منطقي آمن
df_tour = df_tour[
    (df_tour['hotels'] >= 0) &
    (df_tour['rooms'] >= 0) &
    (df_tour['POIs'] >= 0) &
    (df_tour['occupancy_rate'].between(0, 1))
]

In [9]:
#  فحص قوة مفاتيح الدمج
print("عدد الأشهر:", df_tour['year_month'].nunique())
print("عدد المناطق:", df_tour['area_name_en'].nunique())

print("أكثر المفاتيح تكرارًا:")
print(
    df_tour[['year_month', 'area_name_en']]
    .value_counts()
    .head(10)
)

عدد الأشهر: 99
عدد المناطق: 195
أكثر المفاتيح تكرارًا:
year_month  area_name_en
2023-03-01  zaabeel second        1
2015-01-01  abu hail              1
            al aweer first        1
            al aweer second       1
            al bada               1
            al baraha             1
            al barsha first       1
2023-03-01  trade center first    1
            saih shuaib 4         1
            saih shuaib 3         1
Name: count, dtype: int64

In [10]:
#  حفظ الملف النهائي

df_tour.to_csv(
    "C:/Users/tf/Desktop/مشروع 1/Data after cleaning/tourism_cleaned.csv",
    index=False
)